.myCards {
  display: flex;
  height: 13rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, 20px) scale(0.9);

  &__inactive {
    transform: translate(-50%, 13px) scale(0.6);
    filter: brightness(50%);
    pointer-events: none;
  }
}
.myCards__card {
  width: 87px;
  height: 128px;

  &--inactive {
    filter: brightness(50%);
  }

  img {
    height: 100%;
  }

  /* Если карточек 3 */
  &:nth-last-child(3):first-child {
    z-index: 1;
    position: relative;
    transform: translate(35px, 24px) rotate(-15deg);

    & ~ .myCards__card:nth-child(2) {
      z-index: 2;
      position: relative;
      transform: translateY(14px);
    }

    & ~ .myCards__card:last-child {
      z-index: 3;
      position: relative;
      transform: translate(-35px, 24px) rotate(15deg);
    }
  }

  /* -------------------------------- */

  /* Если карточек 2 */
  &:nth-last-child(2):first-child {
    z-index: 2;
    position: relative;
    transform: translate(15px, 14px) rotate(-6deg);

    & ~ .myCards__card:last-child {
      z-index: 3;
      position: relative;
      transform: translate(-15px, 14px) rotate(6deg);
    }
  }

  /* -------------------------------- */

  /* Если карточка 1 */
  &:nth-last-child(1):first-child {
    transform: translateY(14px);
  }
}

.myMovedCard {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -40px;
  width: 35px;
  height: 50px;
}

@media (min-height: 610px) {
  .myCards {
    transform: translateX(-50%) scale(1);
  }

  .myMovedCard {
    bottom: -65px;
  }

  .myCards__inactive {
    transform: translate(-50%, 16px) scale(0.8);
  }
}