.tradeModal {
  position: absolute;
  inset: 0;
  background-color: rgba(black, 0.5);
  z-index: 9;
  display: none;
  align-items: end;
  justify-content: center;

  &--active {
    display: flex;
  }

  &__window {
    padding-bottom: 103px;
  }

  &__timer {
    margin: 0 auto 22px;
    width: 48px;
    height: 48px;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
  }

  &__buttons {
    display: flex;
    gap: 6px;
  }

  &__btn {
    border-radius: 12px;
    padding: 7px 20px;
    min-width: 110px;
    box-shadow: -0.5px 8px 12px 0px rgba(26, 26, 26, 0.36);
    font-size: 1.6rem;
    font-weight: 500;
  }

  &__btn--red {
    background-color: #DE4616;
  }

  &__btn--green {
    background-color: #15A323;
  }
}

.tradeModal__input {
  height: 227px;
  width: 40px;
  position: absolute;
  right: 30px;
  bottom: 150px;
  background-color: #121317;
  border-radius: 20px;
  border: 0.836px #EBC57A solid;
  display: flex;
  justify-content: center;
  align-items: center;
}